<!DOCTYPE html>
<html ng-app>
 <head>
  
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>

  <style type="text/css">
   * {
   	box-sizing: border-box;
   }
   body {
    font: 16px/1.5 sans-serif;
    color: #222;
    margin: 5em;
   }
   .first-true {
   	background-color: red;
   }
  </style>

 </head>
 <body>
  
  <div>
   <input type="search" ng-model="search">
  </div>

  <div ng-controller="List">
   <ul>
    <li ng-repeat="person in people | filter:search">{{person.name}} : {{person.age}}
    	<button ng-click="remove($index)" class="first-{{$first}}">x</button>
    	<span ng-show="$first">First!</span>
    	<span ng-show="$last">Last!</span>
    	<span ng-show="$middle">Middle!</span>
    </li>
   </ul>

   <span>There are {{people.length}} people in the list.</span>

   <div>
    <label>Name:</label><input ng-model="new_name">
    <br>
    <label>Age:</label><input type="number" ng-model="new_age">
    <br>
    <button ng-click="add()">Add</button>
   </div>
  </div>

  <script type="text/javascript">
   var List = function ($scope) {
    $scope.people = [
     {name: 'Carlos', age: 20},
     {name: 'Joe', age: 20}
    ];

    $scope.add = function () {
     $scope.people.push({
      name: $scope.new_name,
      age: $scope.new_age
     });
     $scope.new_name = "";
     $scope.new_age = "";
    };

    $scope.remove = function (index) {
     $scope.people.splice(index, 1);
    };
   };
  </script>

 </body>
</html>